.map__popup {
  text-align: center;
  border-radius: 1em;
  background-color: #423E37;
  color: #f2c00f;
}

.mapboxgl-popup-content {
  padding: 1em;
  background-color: #423E37;
  border-radius: 1em;
}

.mapboxgl-popup-close-button {
  color: #f2c00f;
}


.mapbox-marker {
  background-color: #fff;
}
