.login__form {
  width: 65%;
  text-align: center;
  margin: 2em auto;
};

.container {
  margin-top: 2em;
}

.ui.button.login__form__button {
  background-color: #423E37;
  color: #f2c00f;
}

.ui.form .field>label {
  color: #423E37;
}

