.ui.small.image {
  margin: 0.5em auto;
}

.service__details__avatar {
  margin-bottom: 2em;
}

.ui.container.profil__name {
  margin-bottom: 2em;
}

.ui.button.profil__import__button {
  background-color: #423E37;
  color: #f2c00f;
}

.ui.button.profil__change__button {
  background-color: #423E37;
  color: #f2c00f;
}

.ui.button.profil__delete__button {
  margin-top: 2em;
}

