.app {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  background-color: #e3b23c;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

// .content-wrap{
//   padding-bottom: 2.5rem;
// }

// .footer {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   height: 2.5rem;
// }

