.header {
  &__container__connected{
    background-color: #fff;
    box-shadow: 0 1px 4px 4px rgba(0,0,0,0.1);
    // display: flex;
    // justify-content: center;
    // margin-bottom: 1.5rem;
  }

  &__navlink {

    margin: 0.5em;
    background:
      linear-gradient(
        to bottom, #f2c00f 0%,
        #f2c00f 100%
      );
     background-position: 0 100%;
     background-repeat: repeat-x;
     background-size: 3px 3px;
     color: #423E37;
     text-decoration: none;
     transition: background-size .5s;

     &.active {
      background-size: 4px 50px;
      color: #423E37;
     }

     &:hover {
      background-size: 4px 50px;
      color: #423E37;
    }
  }

 }













  
.ui.button.header__button__connected {
   background-color: #f2c00f;
   margin: 0 0.3rem;

  &__admin {
    background-color: #423E37;
    color: #f2c00f;
  } 
}


a.ui.small.centered.image.header__logo {
  margin: 0;
}

.ui.grid>.row {
  padding-bottom: 0;
}

// .header__logo {

//   &__connected{
//     border-left: 2px solid #423E37;
//     border-right: 2px solid #423E37;
//     margin: 0 auto;
//   }
// }

.ui.image img {
  padding: 1em 1em 0.2em 1em;
}

  
  
  