.header {
  &__container__connected{
    background-color: #fff;
    box-shadow: 0 1px 4px 4px rgba(0,0,0,0.1);
    // display: flex;
    // justify-content: center;
    // margin-bottom: 1.5rem;
  }

  &__navlink {
    margin-right: 0.9rem;
    color: #423E37;

    &:hover, &.active {
      color: #f2c00f;
      font-weight: bold;
    }
  }
}
  
.ui.button.header__button__connected {
   background-color: #f2c00f;
   margin: 0 0.3rem;

  &__admin {
    background-color: #423E37;
    color: #f2c00f;
  } 
}

.ui.image img {
  padding: 1em 1em 0.2em 1em;
}
  
  
  