div {
  &.ui.segment.feed {
    
  }
  &.content {
  }
}

.button.ui.tiny.icon.button.user__services__edit {
  background-color: #423E37;
  color: #f2c00f;
}

.ui.horizontal.divider.service__info__divider {
  margin: 16px;
}
