.ui.tiny.image {
  display: inline;
}

div.ui.container {
  margin-top: 0;
}

.ui.container.service__details__avatar {
  margin: 1.5em 0;
}

.ui.button.service__details__button {
  margin-top: 0.5em;
  background-color: #423E37;
  color: #f2c00f;
}
